<div class="card">
  <div class="card-header">
   Co11
    <span *ngIf="isEditMode" class="edit-note">
      (Editing Plan #{{ editIndex! + 1 }})
    </span>
  </div>
  <div class="card-body">
    <form class="form-grid" [formGroup]="planForm" (ngSubmit)="savePlan()">

      <!-- Card 1: Goods Movement -->
      <div class="card w-100">
        <div class="card-header">Goods Movement</div>
          <div class="card-body">
             <div class="row">

              <div class="col-md-3 mb-5">
                 <div class="form-field">
                   <input type="text" formControlName="VORNR" placeholder=" " />
                   <label>Activity Number</label>
                   <small class="error" *ngIf="planForm.get('VORNR')?.touched && planForm.get('VORNR')?.invalid">
                    Activity Number is required
                   </small>
                  </div>
              </div>
              
              <div class="col-md-3 mb-5">
                <div class="form-field">
                  <input type="text" formControlName="WERKS" placeholder=" " />
                  <label>Plant</label>
                  <small class="error" *ngIf="planForm.get('WERKS')?.touched && planForm.get('WERKS')?.invalid">
                  Plant is required
                  </small>
                </div>
              </div>

              
              <div class="col-md-3 mb-5">
                <div class="form-field">
                  <input type="text" formControlName="GAMNG" placeholder=" " />
                  <label>Total Order Quantity</label>
                  <small class="error" *ngIf="planForm.get('GAMNG')?.touched && planForm.get('GAMNG')?.invalid">
                  Order Quantity is required
                  </small>
                </div>
             </div>

             <div class="col-md-3 mb-5">
                <div class="form-field">
                  <input type="text" formControlName="WEMNG" placeholder=" " />
                  <label>Quantity of Goods Received</label>
                  <small class="error" *ngIf="planForm.get('WEMNG')?.touched && planForm.get('WEMNG')?.invalid">
                  Quantity of Goods Received is required
                  </small>
                </div>
              </div>

              <div class="col-md-3 mb-5">
                <div class="form-field">
                 <input type="text" formControlName="BALANCEQTY" placeholder=" " />
                 <label>BALANCEQTY</label>
                  <small class="error" *ngIf="planForm.get('BALANCEQTY')?.touched && planForm.get('BALANCEQTY')?.invalid">
                  BALANCEQTY is required
                  </small>
                </div>
              </div>

              <div class="col-md-3 mb-5">
                <div class="form-field">
                  <input type="text" formControlName="TCONFQTY" placeholder=" " />
                  <label>TCONFQTY</label>
                  <small class="error" *ngIf="planForm.get('TCONFQTY')?.touched && planForm.get('TCONFQTY')?.invalid">
                  TCONFQTY is required
                  </small>
                </div>
              </div>

              <div class="col-md-3 mb-5">
                <div class="form-field">
                  <input type="text" formControlName="TBALANCEQTY" placeholder=" " />
                  <label>TBALANCEQTY</label>
                  <small class="error" *ngIf="planForm.get('TBALANCEQTY')?.touched && planForm.get('TBALANCEQTY')?.invalid">
                   TBALANCEQTY is required
                  </small>
                </div>
              </div>

              <div class="col-md-3 mb-5">
               <div class="form-field">
                 <select formControlName="shift">
                   <!-- <option value="" disabled selected hidden>Select Shift</option> -->
                   <option value="Shift A">Shift A</option>
                   <option value="Shift B">Shift B</option>
                   <option value="Shift C">Shift C</option>
                  </select>
                  <label>Shift</label>
                 <small class="error" *ngIf="planForm.get('shift')?.touched && planForm.get('shift')?.invalid">
                  Shift is required
                  </small>
                </div>
              </div>

              <div class="col-md-3 mb-5">
              <div class="form-field">
                <input type="text" formControlName="POSTDATE" placeholder=" " />
                <label>Posting Date in the Document</label>
                <small class="error" *ngIf="planForm.get('POSTDATE')?.touched && planForm.get('POSTDATE')?.invalid">
                Posting Date in the Document is required
                </small>
              </div>
              </div>

              <div class="col-md-3 mb-5">
              <div class="form-field">
                <input type="text" formControlName="WORK_CNTR" placeholder=" " />
                <label>Work Center</label>
                <small class="error" *ngIf="planForm.get('WORK_CNTR')?.touched && planForm.get('WORK_CNTR')?.invalid">
                Work Center is required
                </small>
              </div>
              </div>

              <div class="col-md-3 mb-5">
              <div class="form-field">
                <input type="text" formControlName="PLNBEZ" placeholder=" " />
                <label>Material Number</label>
                <small class="error" *ngIf="planForm.get('PLNBEZ')?.touched && planForm.get('PLNBEZ')?.invalid">
                Material Number is required
                </small>
              </div>
              </div>

              <div class="col-md-3 mb-5">
              <div class="form-field">
                <input type="text" formControlName="DEFRBATCH" placeholder=" " />
                <label>Batch Number</label>
                <small class="error" *ngIf="planForm.get('DEFRBATCH')?.touched && planForm.get('DEFRBATCH')?.invalid">
                Batch Number is required
                </small>
              </div>
              </div>



            <!-- <div class="form-field">
              <label for="matDescr">Mat.Descr.</label>
              <input id="matDescr" type="text" formControlName="matDescr" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="operation">Operation</label>
              <input id="operation" type="text" formControlName="operation" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="sequence">Sequence</label>
              <input id="sequence" type="text" formControlName="sequence" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="suboperation">Suboperation</label>
              <input id="suboperation" type="text" formControlName="suboperation" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="capacityCat">Capacity Cat</label>
              <input id="capacityCat" type="text" formControlName="capacityCat" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="split">Split</label>
              <input id="split" type="text" formControlName="split" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="workCenter">Work Center</label>
              <input id="workCenter" type="text" formControlName="workCenter" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="plant">Plant</label>
              <input id="plant" type="text" formControlName="plant" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="confirmType">Confirm Type</label>
              <input id="confirmType" type="text" formControlName="confirmType" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="clearOpenReservations">Clear Open Reservations</label>
              <input id="clearOpenReservations" type="text" formControlName="clearOpenReservations" placeholder=" " />
            </div> -->
          </div>
        </div>
      </div>

      <!-- Card 2: Quantities -->
      <div class="card w-100">
        <div class="card-header">Quantities</div>
        <div class="card-body" formGroupName="variance">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="yield">Yield</label>
              <input id="yield" type="text" formControlName="yield" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="scrap">Scrap</label>
              <input id="scrap" type="text" formControlName="scrap" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="rework">Rework</label>
              <input id="rework" type="text" formControlName="rework" placeholder=" " />
            </div>
            <div class="col-md-6">
              <label for="reasonForVariance">Reason for Variance</label>
              <input id="reasonForVariance" type="text" formControlName="reasonForVariance" placeholder=" " />
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-buttons mt-3 text-end">
        <button type="submit" class="btn btn-primary">
          {{ isEditMode ? 'Update Plan' : 'save' }}
        </button>
      </div>

    </form>
  </div>
</div>

